{% extends 'base.html.twig' %}

{% block body_id 'catalog_index' %}

{% block main %}
   <h1>Каталог</h1>
   <p>Список продуктов</p>


   {% for product in paginator.results %}
      <article class="product">
         <h2>
            {{ product.title }}
         </h2>

         <p>{{ product.content }}</p>

         <a href="{{ path('catalog_edit', {id: product.id}) }}">edit</a>

         <hr>
      </article>
   {% endfor %}

   {{ dump(paginator) }}

{% endblock %}
