{% extends 'base.html.twig' %}

{% block body_id 'catalog_new' %}

{% block main %}
    <h1>Добавить продукт в каталог</h1>

    {{ form(form) }}

{% endblock %}

{% block sidebar %}
    <hr>
{% endblock %}
